/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

/*.ol_margin {
	margin-top: 5px !important;
    margin-bottom: 5px !important;
}*/

.li_margin {
	margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.Claroty {
	margin-left:auto;
	margin-right: auto;
	max-height : 200px;
	width : auto;
	border-radius: 10px;
	transition: filter 0.5s ease; /* Transition douce */
}
.sub_claroty {
	margin-left:280px;
	margin-right: auto;
	max-height : 200px;
	width : auto;
	border-radius: 10px;
	transition: filter 0.5s ease; /* Transition douce */
}

.Claroty:hover {
	filter: brightness(75%); /* Assombrir l'image au survol */
  }

.foot {
	max-height : 175px;
	width : auto;
	border-radius: 10px;
	transition: filter 0.5s ease; /* Transition douce */
}

.foot:hover {
	filter: brightness(1.5); /* Assombrir l'image au survol */
}


.subtitle {
	text-decoration: underline;
	font-size: larger;
	max-height: 15px;
	margin-top:25px

}

.cv {
	max-width: 100%;
	max-height: auto;
}

.sub_foot {
	margin-left:280px;
	margin-right: auto;
	max-height : 200px;
	width : auto;
	border-radius: 10px;
	transition: filter 0.5s ease; /* Transition douce */
}

.sub_jde{
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	float: left;
	shape-outside: margin-box;
	margin: 0 20px 5px 0;
	transition: filter 0.5s ease; /* Transition douce */
}

.container_jde{
	max-width: 600px;
	margin: 0 auto;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0);
}

.container_jde p {
	line-height: 200px;
}

